.template-list {
    /* Flexbox設定 */
    display: flex;
    /* フレックスコンテナの指定 */
    flex-wrap: wrap;
    /* 複数行に分割・	flexアイテムを折り返す */
    justify-content: space-between;
    /* 各アイテムを均等に配置 */
}

.template-item {
    /* 各ボックス */
    width: 300px;
    margin-bottom: 40px;
    background-color: #eee;
}

.template-title {
    /* タイトル */
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
    text-align: center;
}

.template-icon {
    /* アイコンエリア  */
    margin-top: 4px;
    text-align: center;
}

.template-icon img {
    /* アイコン */
    width: 24px;
    margin-bottom: 10px;
}