{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="ja">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

   {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css"> {% endcomment %}
   
   {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css"> {% endcomment %}
   <link rel="stylesheet" href="{% static 'U22/css/editor/normalize.css' %}" />

   <link rel="stylesheet" href="{% static 'U22/css/editor/editor-base.css' %}" />

   <link rel="stylesheet" href="{% static 'U22/css/editor/editor-gender.css' %}" />
   {% comment %} <link rel="stylesheet" href="{% static 'U22/css/editor/editor-animation.css' %}" /> {% endcomment %}

   <title>{% block title %}View{% endblock %}</title>

   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>


   <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>

<body>
   <article class="previewBox">
      <main>
         <div class="container">
            {% comment %} <div class='progress-wrapper'>
               <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
            </div>
            <div id="progress-bar-message">処理中……</div>
            <div id="celery-result">
            </div> {% endcomment %}
            <h2>{{ editor.template.title }}</h2>
            {% if editor.edited %}
            <video id ="previewVideo" src="{{ editor.edited.url }}" controls="true"></video>
            {% endif %}
            {% comment %} <div class="">{{ editor.template.movie_format }}</div>
            <div class="">{{ editor.template.filter_effect }}</div>
            <div class="">{{ editor.template.animations }}</div>
            <div class="">{{ editor.template.bgm }}</div>
            <div class="">{{ editor.template.volume }}</div>
            <div class="">{{ editor.template.cut }}</div>
            <div class="">{{ editor.template.model }}</div>
            <div class="">{{ editor.template.voice }}</div>
            <div class="">{{ editor.template.language }}</div>
            <div class="">{{ editor.template.telopPos }}</div>
            <div class="">{{ editor.editorId }}</div> {% endcomment %}
            <div id="share_box">
               <div id="share_detail">
                     <ul class="snsbtniti2">
                        <li><a href="https://twitter.com/share?url={{ request.scheme }}://{{ request.get_host }}{% url 'editor_detail' editor.editorId %}&text=AVE" class="flowbtn11 fl_tw1"
                        ><i class="fab fa-twitter"></i><span>Twitterでシェア</span></a></li>
                        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}{% url 'editor_detail' editor.editorId %}"class="flowbtn11 fl_fb1"><i class="fab fa-facebook-f"></i><span>FaceBookでシェア</span></a></li>
                        <li><a href="https://social-plugins.line.me/lineit/share?url={{ request.scheme }}://{{ request.get_host }}{% url 'editor_detail' editor.editorId %}" class="flowbtn11 fl_li1"><i class="fab fa-line"></i><span>LINEでシェアする</span></a></li>
                        <li><a href="http://b.hatena.ne.jp/entry/{{ request.scheme }}://{{ request.get_host }}{% url 'editor_detail' editor.editorId %}" class="flowbtn11 fl_hb1"><i class="fas fa-bold">!</i><span>Hatenaでシェア</span></a></li>
                        <li><button class="flowbtn11 fl_cp1" id="urlCopy" onclick="copyUrl()"><i class="fas fa-link"></i>URLをコピー</button></li>
                     </ul>
               </div>
         </div>
         {% comment %} <div class="inputGroup">
            <label for="id_publish" id="inputLabel">動画の公開</label>
            {% render_field form class='form-control'%}
         </div> {% endcomment %}

      </main>
   </article>
</body>

<script>
   function copyUrl() {
      const element = document.createElement('input');
      element.value = location.href;
      document.body.appendChild(element);
      element.select();
      document.execCommand('copy');
      document.body.removeChild(element);
}  
</script>
</html>