{% load static %}
<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="{% static 'U22/css/editor/normalize.css' %}" />
      <link
         rel="stylesheet"
         href="{% static 'U22/css/editor/editor-bgm.css' %}"
         />
      <link
         rel="stylesheet"
         href="{% static 'U22/css/editor/editor-base.css' %}"
         />
      <link
         rel="stylesheet"
         href="{% static 'U22/css/editor/editor-format.css' %}"
         />
      <link
         rel="stylesheet"
         href="{% static 'U22/css/editor/editor-gender.css' %}"
         />
      <link
         rel="stylesheet"
         href="{% static 'U22/css/editor/editor-template.css' %}"
         />
      <link
         rel="stylesheet"
         href="{% static 'U22/css/editor/editor-animation.css' %}"
         />
      <link
         rel="stylesheet"
         href="{% static 'U22/css/editor/editor-bgm.css' %}"
         />
      <title>{% block title %}Editor{% endblock %}</title>
      <style>
         #progress_bar {
         margin: 10px 0;
         padding: 3px;
         border: 1px solid #000;
         font-size: 14px;
         clear: both;
         opacity: 0;
         -moz-transition: opacity ls linear;
         -o-transition: opacity ls linear;
         -webkit-transition: opacity ls linear;
         }
         #progress_bar.loading {
         opacity: 1;
         }
         #progress_bar .percent {
         background-color: #99ccff;
         height: auto;
         width: 0;
         }
      </style>
   </head>
   <body>
      <div class="tabs">
         <nav class="navigation">
            <img src="{% static 'images/U22/logo1.png' %}" alt="" />
            <ul>
               <li>
                  <input id="upload" type="radio" name="tab_item" checked>
                  <label class="tab_item" for="upload">アップロード</label>
               </li>
               <li>
                  <input id="format" type="radio" name="tab_item">
                  <label class="tab_item" for="format">フォーマット</label>
               </li>
               <li>
                  <input id="gender" type="radio" name="tab_item">
                  <label class="tab_item" for="gender">性別</label>
               </li>
               <li>
                  <input id="filter" type="radio" name="tab_item">
                  <label class="tab_item" for="filter">フィルター</label>
               </li>
               <li>
                  <input id="animation" type="radio" name="tab_item">
                  <label class="tab_item" for="animation">アニメーション</label>
               </li>
               <li>
                  <input id="bgm" type="radio" name="tab_item">
                  <label class="tab_item" for="bgm">BGM</label>
               </li>
               <li>
                  <input id="volume" type="radio" name="tab_item">
                  <label class="tab_item" for="volume">音量調整</label>
               </li>
               <li>
                  <input id="cut" type="radio" name="tab_item">
                  <label class="tab_item" for="cut">カット</label>
               </li>
            </ul>
         </nav>

         <main>
            <h1>いいあああああいああああああ</h1>
            <div class="tab_content" id="animation_content">
               <div class="container">
                  <section class="section" id="animation-section">
                     <div class="inner">
                        <div class="animation-list">
                           {% for item in anim_data %}
                           <div class="animation-item">
                              <img src="" alt="" />
                              <div class="animation-title">{{ item.title }}</div>
                              <div class="animation-icon">
                                 <img src="{% static 'images/U22/play.png' %}" alt="" />
                              </div>
                           </div>
                           {% endfor %}
                        </div>
                     </div>
                  </section>
               </div>
            </div>

            <div class="tab_content" id="bgm_content">
               <section class="section" id="bgm-section">
                  <div class="inner">
                     <div class="bgm-list">
                        {% for item in bgm_data %}
                        <div class="bgm-item">
                           <img src="" alt="" />
                           <div class="bgm-title">{{ item.title }}</div>
                           <div class="bgm-icon">
                              <img src="{% static 'images/U22/play.png' %}" alt="" />
                           </div>
                        </div>
                        {% endfor %}
                     </div>
                  </div>
               </section>
            </div>

            <div class="tab_content" id="format_content">
               <section class="section" id="format-section">
                  <div class="inner">
                     <div class="format-list">
                        {% for item in format_data %}
                        <div class="format-item">
                           <img src="" alt="" />
                           <div class="format-title">{{ item.title }}</div>
                           <div class="format-icon">
                              <img src="{% static 'images/U22/play.png' %}" alt="" />
                           </div>
                        </div>
                        {% endfor %}
                     </div>
                  </div>
               </section>
            </div>

            <div class="tab_content" id="format_content">
               <div class="content-box">
                  {% for item in filter_data %}
                  <div class="filter">
                     <p>{{ item.title }}</p>
                  </div>
                  {% endfor %}
               </div>
            </div>

      </div>
      </main>
   </body>
</html>