/* * {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  overflow: hidden;
}
.title {
  width: 100%;
  margin: 0 auto;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 180px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.input_mail {
  justify-content: center;
  width: 406px;
  height: 48px;
  opacity: 1;
  top: 250px;
  left: 532px;
  border: 1px solid rgba(51, 51, 51, 1);
  border-radius: 20px;
  display: flex;

  color: rgba(172, 172, 172, 1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.input_pass {
  width: 406px;
  height: 48px;
  top: 333px;
  left: 517px;
  border: 1px solid rgba(51, 51, 51, 1);
  border-radius: 20px;
  overflow: hidden;

  color: rgba(172, 172, 172, 1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
}
.login {
  width: 134px;
  height: 46px;
  background: rgb(255, 255, 255, 1);
  opacity: 1;
  top: 440px;
  left: 647px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;

  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.p1 {
  width: 406px;
  height: 48px;
  color: url("../images/v32_15.png");
  top: 538px;
  left: 558px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.p2 {
  width: 406px;
  height: 48px;
  color: url("../images/v32_16.png");
  top: 588px;
  left: 558px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.p1 a,
.p2 a {
  color: #1297f6;
  text-decoration: none;
} */

* {
  text-decoration: none;
  list-style: none;
}
.login-title {
  text-align: center;
  margin: 0 auto;
  font-size: 21px;
}
.login-input {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 406px;
}
.input_mail {
  padding-left: 10px;
  margin: 10px;
  width: 406px;
  height: 40px;
  border: 1px solid rgba(51, 51, 51, 1);
  border-radius: 20px;
  font-size: 18px;
}
.input_pass {
  padding-left: 10px;
  margin: 10px;
  width: 406px;
  height: 40px;
  border: 1px solid rgba(51, 51, 51, 1);
  border-radius: 20px;
  font-size: 18px;
}
.login-button {
  margin: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.login-button a {
  text-decoration: none;
  list-style: none;
  color: #454245;
  background-color: #afeeee;
  border: 1px solid #454245;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
}
.login-button a:hover {
  opacity: 0.7;
  transition: 0.3s;
}
p {
  text-align: center;
}

/* 406px以下の画面幅に対してスタイルを適用 */
@media (max-width: 406px) {
  .login-input {
    width: 100%;
  }

  .input_mail,
  .input_pass {
    width: 100%;
  }
}
