{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'U22/css/normalize.css' %}"/>
    <link rel="stylesheet" href="{% static 'U22/css/style.css' %}" />
    
    <title>{% block title %}AVE{% endblock %}</title>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'U22/js/script.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  </head>

  <body>
    <header>
      <div class="bg">
        <button type="button" class="btn js-btn">
          <span class="btn-line"></span>
        </button>
        <nav>
          <ul class="menu">
            <li class="menu-list">
              <a href="{% url 'Index' %}"
                ><img src="{% static 'images/U22/logo1.png' %}" alt="logo"
              /></a>
            </li>
            <li class="menu-list">
              <a href="{% url 'editor' %}">動画編集する</a>
            </li>
            
            {% if user.is_authenticated %}
            <li class="menu-list">
              <a href="{% url 'editor_mylist' %}">自分の動画</a>
            </li>
            {% endif %}
            <li class="menu-list">
              <a href="{% url 'editor_list' %}">自分のテンプレート</a>
            </li>
              {% comment %} <li>
                  <ul class="header-munu-ul">
                      <li class="nav_item">
                          <a href="#" class="menu-name js-dropdown">
                              <i class="far fa-user-circle" style="margin-left:-10px;margin-right:10px">
                              </i><small>{{ user.first_name }}</small>
                          </a>
                          <div class="panel js-dropdown-menu">
                              <ul class="panel-inner">
                                  <li class="panel_item"><a href="{% url 'account_login'%}">ログイン</a></li>
                                  <li class="panel_item"><a href="{% url 'account_signup' %}">サインアップ</a></li>
                              </ul>
                          </div>
                      </li>
                  </ul>
              </li> {% endcomment %}
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="container">{% block content %} {% endblock %}</div>
    </main>

    <div id="page_top">
      <a href="{% url 'Index' %}"></a>
    </div>

    <!--footer-->
    <footer class="footer">
      <div class="footer-box1">
        <!--footer text & address-->
        <div class="text-address">
          <div class="footer-address">
            <address>
              株式会社Company<br />
              〒160-0023 東京都新宿区西新宿１丁目７−３ 総合校舎コクーンタワー<br />
              TEL : <a href="">03-3344-1010</a>
            </address>
          </div>
        </div>
        <!--footer text & address-->
      </div>
      <!--footer contact & policy-->
      <div class="contact-policy">
        <div class="contact">
          <a href="#" target="_blank">お問い合わせ</a>
        </div>
        <div class="policy">
          <a href="#">プライバシーポリシー</a>
        </div>
      </div>
      <div class="copyright">
        <small>@2023 HAL</small>
      </div>
      <!--footer contact & policy-->
    </footer>
    <!--footer-->
    {% block extra_js %}
    {% endblock %}
    <script type="text/javascript">
    $(function(){
        var $dropdown = $('.js-dropdown');
        var DURATION = 200; //アニメーションの速さ

    function fadeOutMenu(){
        $dropdown.removeClass('is-active')
            .next('.js-dropdown-menu')
            .stop()
            .slideUp(DURATION);
        }
        
    $('.js-dropdown').on('click', function(){
        var $self = $(this);
        if(!$self.hasClass('is-active')){
            fadeOutMenu();
        }
        $self.toggleClass('is-active')
            .next('.js-dropdown-menu')
            .stop().slideToggle(DURATION);
        })
        $(document).on('click touchend', function(event) {
            if (!$(event.target).closest('.js-dropdown').length) {
                fadeOutMenu();
            }
        });
    });
</script>


  </body>
</html>
