{% extends "app/U22/base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'U22/css/favorite.css' %}" />
    <title>{% block title%}Favorite{% endblock %}</title>
  <body>
    <div class="favo-title">
      <h1>お気に入り</h1>
    </div>

    <div class="favo-items">
      <div class="item-img">
        <img src="" alt="item1-img" />
        <p>商品名1</p>
        <p>￥999,000</p>
      </div>
      <div>
        <img src="" alt="itme2-img" />
        <p>商品名2</p>
        <p>￥999,000</p>
      </div>
      <div>
        <img src="" alt="item3-img" />
        <p>商品名3</p>
        <p>￥999,000</p>
      </div>
      <div>
        <img src="" alt="item4-img" />
        <p>商品名4</p>
        <p>￥999,000</p>
      </div>
    </div>
  </body>
</html>
{% endblock %}
