{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
      <link rel="stylesheet" href="{% static 'U22/css/editor/normalize.css' %}" />
    
      <link rel="stylesheet" href="{% static 'U22/css/editor/editor-base.css' %}" />
    
      <link rel="stylesheet" href="{% static 'U22/css/editor/editor-gender.css' %}" />
      <link rel="stylesheet" href="{% static 'U22/css/editor/editor-animation.css' %}" />
      <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
      <link rel="stylesheet" href="{% static 'U22/css/editor/editor-format.css' %}" />
      <title>{% block title %}MyList{% endblock %}</title>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
   
    
        <style>
            video{
                width: 100%;
            }
        </style>
    </head>
    <body>
        <main>
        <div class="container">
            <section class="section" id="format-section">
                <div class="inner">
                  <div class="format-list">
                    {% for item in mylist_data %}
                    <div class="format-item">
                      <img src="" alt="" />
                      <div class="format-title">{{ item.template.title }}</div>
                      <div class="format-title">{{ item.template.movie_format }}</div>
                      <div class="format-title">{{ item.template.filter_effect }}</div>
                      <div class="format-title">{{ item.template.animations }}</div>
                      <div class="format-title">{{ item.template.bgm }}</div>
                      <div class="format-title">認識レベル: {{ item.template.model }}</div>
                      <div class="format-title">{{ item.template.voice }}</div>
                      <div class="format-title">{{ item.template.language }}</div>
                      <div class="format-title">テロップ位置: {{ item.template.telopPos }}</div>
                      <div class="format-title">動画のURL: {{ item.template.publish }}</div>
                      <div class="format-title"><a class="btn-info" href="{% url 'editor_detail' item.editorId %}">詳細ページ</a></div>
                      <div class="format-title"><a class="btn-danger" href="{% url 'editor_mylist_delete' item.editorId %}">削除する。</a></div>
                        
                      {% if item.edited %}
                      <video controls src="{{ item.edited.url }}"></video>
                      {% endif %}
                      <div id="share_box">
                        <div id="share_detail">
                              <ul class="snsbtniti2">
                                <li><a href="https://twitter.com/share?url={{ request.scheme }}://{{ request.get_host }}{% url 'editor_detail' item.editorId %}&text=AVE" class="flowbtn11 fl_tw1"
                                ><i class="fab fa-twitter"></i><span>Twitterでシェア</span></a></li>
                                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}{% url 'editor_detail' item.editorId %}"class="flowbtn11 fl_fb1"><i class="fab fa-facebook-f"></i><span>FaceBookでシェア</span></a></li>
                                <li><a href="https://social-plugins.line.me/lineit/share?url={{ request.scheme }}://{{ request.get_host }}{% url 'editor_detail' item.editorId %}" class="flowbtn11 fl_li1"><i class="fab fa-line"></i><span>LINEでシェアする</span></a></li>
                                <li><a href="http://b.hatena.ne.jp/entry/{{ request.scheme }}://{{ request.get_host }}{% url 'editor_detail' item.editorId %}" class="flowbtn11 fl_hb1"><i class="fas fa-bold">!</i><span>Hatenaでシェア</span></a></li>
                              </ul>
                        </div>
                  </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </section>
        </div>
        </main>
    </body>
    </html>
