.cartMain {
    display: flex;
    justify-content: space-between;
    margin-top: 6em;
    margin-left: 4em;
}
.cartContentsFlexbox{
    display: flex;
    gap: 3em;
}
.cartProductImage{
    width: 15em;
    border: 1px solid black;
}
.cartProductName p{
    font-size: 2em;
    margin: 0;
}
.cartProduct {
    display: flex;
    flex-flow: column;
}
.cartProductPrice p {
    margin-top: 5em;
    font-size: 2em;
}
.cartContentsDeleteWrapper {
    margin-top: 1em;
    font-size: 1.5em;
}
.cartConfilm {
    background-color:rgb(236, 234, 234);
    margin-top: 5em;
    margin-right: 3em;
    width: 30em;
}
.cartConfilmProduct {   
    display: flex;
    justify-content: space-between;
    border: none;
    outline: none;
    background-image: linear-gradient(rgb(110, 110, 110),rgb(110,110,110));
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    padding-bottom: 0.5em;
}
.cartConfilmProduct a {
    font-size: 2em;
    font-weight: 600;
    
}
.cartConfilmPadding {
    padding: 3em 3em 3em 3em; 
}
.cartConfilmSum{
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
}
.cartConfilmSum a { 
    font-size: 1.5em;
}
.cartConfilmPostage {
    display: flex;
    justify-content: space-between;
    border: none;
    outline: none;
    background-image: linear-gradient(rgb(110, 110, 110),rgb(110,110,110));
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    padding-bottom: 0.5em;
    padding-top: 2.5em;
}
.cartConfilmPostage a {
    font-size: 1.5em;
}
.cartConfilmAllSum {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    display: flex;
    justify-content: space-between;
    border: none;
    outline: none;
    background-image: linear-gradient(rgb(110, 110, 110),rgb(110,110,110));
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    padding-bottom: 2em;
    padding-top: 2em;
}
.cartConfilmAllSum a {
    font-size: 1.5em;
}
.cartConfilmTax {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}
.cartConfilmTax a {
    font-size: 1.5em;
} 
@media screen and (max-width: 900px) {
    .cartMain {
        flex-direction: column;
        align-items: center;
        margin-top: 3em;
        margin-left: 0;
    }
    .cartContentsFlexbox {
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
    .cartProductImage {
        width: 10em;
    }
    .cartProductName p {
        font-size: 1.5em;
    }
    .cartProductPrice p {
        margin-top: 3em;
        font-size: 1.5em;
    }
    .cartContentsDeleteWrapper {
        margin-top: 0.5em;
        font-size: 1em;
    }
    .cartConfilm {
        margin-top: 2em;
        margin-right: 0;
        width: 100%;
    }
    .cartConfilmPadding {
        padding: 2em;
    }
    .cartConfilmProduct a {
        font-size: 1.5em;
    }
    .cartConfilmSum a {
        font-size: 1em;
    }
    .cartConfilmPostage a {
        font-size: 1em;
        padding-top: 0.5em;
    }
    .cartConfilmAllSum a {
        font-size: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .cartConfilmTax a {
        font-size: 1em;
        padding-top: 0.5em;
    }
}