{% extends "app/U22/base.html" %}
{% load cart_tags %}
{% load static %}
  <title>{% block title%}カート{% endblock%}</title>
    
{% block content %}
<html>
  <body>
    <link rel="stylesheet" href="{% static 'U22/css/cart.css'%}" />
      <div class="cartMain">
        <div class="cartContents">
          <div class="cartTitle">
            <h1>カート</h1>
          </div>
          <div class="cartContentsFlexbox">
            <div class="cartImage">
              <img class="cartProductImage" src="{% static 'images/U22/Image.jpg' %}" />
            </div>
            <div class="cartProduct">
              <div class="cartProductName">
                <p>商品名</p>
              </div>
              <div class="cartProductPrice">
                <p>\100,000</p>
              </div>
              <div class="cartContentsDeleteWrapper">
                <a href="#" class="cartContentsDelete">削除</a>
              </div>
            </div>
          </div>
        </div>
        <div class="cartConfilm">
          <div class="cartConfilmPadding">
            <div class="cartConfilmProduct">
              <a>注文内容</a>
              <a class="cartConfilmNumber">1件</a>
            </div>
            <div class="cartConfilmSum">
              <a>商品合計</a>
              <a class="cartConfilmSumPrice">\1,010,000</a>
            </div>
            <div class="cartConfilmPostage">
              <a>送料</a>
              <a class="cartConfilmPostagePrice">無料</a>
            </div>
            <div class="cartConfilmAllSum">
              <a>合計</a>
              <a class="cartConfilmAllPrice">\1,010,000</a>
            </div>
            <div class="cartConfilmTax">
              <a>内消費税</a>
              <a class="cartConfilmTaxPrice">\10,000</a>
            </div>
          </div>
        </div>
      </div>

    {% block extra_js %}
    {% endblock %}
    {% endblock %}
  </body>
</html>
